body {
    margin: 0;
    padding: 0;
    background-color: #e6ecf0;
    color: #000;
    font-size: 18px;
}

.article {
    background-color: #fff;
    padding: 12px;
    margin-bottom: 12px;
}

.article__title {
    margin-top: 0;
    margin-bottom: 5px;
}

.article__posted-date {
    color: #ccc;
}

.container {
    width: 80%;
    margin: 0 auto;
}